* {
  --bs-nav-link-color: #dc3545;
  --bs-nav-link-hover-color: #bb2d3b;
}

body {
  padding: 10px;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  width: 0;
}

red {
  color: #bb2d3b;
}
