body {
  background-image: url(/img/bg/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  color: white;
  margin: 110px 0 50px 0 !important;
}

.float-end {
  padding: 30px 0 50px 0;
}

.row {
  margin-bottom: 100px;
}

.btn {
  margin: 20px;
}

.dropdown-hide {
  display: none !important;
}
