@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Share+Tech+Mono&display=swap');

* {
  --bs-nav-link-color: #dc3545;
  --bs-nav-link-hover-color: #bb2d3b;
  font-family: "Share Tech Mono", monospace;
}

body {
  padding: 10px;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  width: 0;
}

red {
  color: #bb2d3b;
}

h1 {
  font-family: "Rubik Bubbles", cursive;
}
