@font-face {
  font-family: "Rubik Bubbles";
  src: url("/fonts/Rubik_Bubbles/RubikBubbles-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Share Tech Mono";
  src: url("/fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf") format("truetype");
}

* {
  --bs-nav-link-color: #dc3545;
  --bs-nav-link-hover-color: #bb2d3b;
  font-family: "Share Tech Mono", monospace;
}

body {
  padding: 10px;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  width: 0;
}

red {
  color: #bb2d3b;
}

h1 {
  font-family: "Rubik Bubbles", cursive;
}
