body {
  background-image: url(/img/bg/earth.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#rocket {
  max-width: 430px;
}

.row {
  margin: 30px;
  margin-bottom: 0;
}

.col {
  margin: 10px;
}

.keyboard {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
}

.keyboard > button {
  max-width: 85px;
  margin: 5px;
}

.keyboard > button:disabled {
  background-color: black;
  border-color: black;
}

.word {
  margin: 0 auto;
}

@keyframes rocket {
  0% {
    opacity: 100;
  }
  30% {
    opacity: 100;
    transform: translate(120px, 50%);
  }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-100%, -100%);
  }
}