body {
  background-image: url(/img/bg/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#game-title {
  color: white;
}

.row {
  margin-bottom: 50px;
}

#table {
  overflow: auto;
  max-height: 451px;
}

thead {
  position: sticky;
  top: 0;
}
