body {
  padding-top: 35px;
  background-image: url(/img/bg/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  color: white;
  margin: -50px 0 -40px 0!important;
}

.row {
  margin-bottom: 50px;
}

.scoreboard {
  overflow: auto;
  max-height: 207px;
  margin-bottom: 20px;
}

thead {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

th[scope="col"]:first-child,
th[scope="row"] {
  position: sticky;
  position: -webkit-sticky;
  left: 0;
}

th[scope="row"] {
  z-index: -1;
}

td {
  position: relative;
  z-index: -2;
}
